body {
  background: black;
  margin: 0;
  padding: 0;
}

.button-area {
  padding-bottom: 10px;
}

button {
  background: #00adef;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font: 600 14px/22px 'Helvetica Neue', Helvetica, sans-serif;
  height: 40px;
  padding: 10px;
  width: 100%;
}

.contain {
  margin: 0 auto;
  width: 960px;
}

.sidebar {
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: auto;
  width: 300px;
}

.sidebar-video {
  border-bottom: 10px solid #000;
  cursor: pointer;
  height: 60px;
  overflow: hidden;
}

.sidebar-video-thumbnail {
  float: left;
}

.sidebar-video-title {
  color: #fff;
  font: 400 14px/60px 'Helvetica Neue', Helvetica, sans-serif;
  text-indent: 10px;
  float: left;
}

.loading {
  background-color: #00adef;
  border-radius: 50%;
  height: 10px;
  position: relative;
  left: 40px;
  top: 25px;
  width: 10px;
}
