body {
  background: black;
  margin: 0;
  padding: 0;
}

.button-area {
  padding-bottom: 10px;
}

button {
  background: #00adef;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font: 600 14px/22px 'Helvetica Neue', Helvetica, sans-serif;
  height: 40px;
  padding: 10px;
  width: 190px;
}

button.alt {
  background: #657987;
  margin-left: 10px;
  width: 80px;
}

button img {
  vertical-align: text-bottom;
}

.contain {
  margin: 0 auto;
  width: 960px;
}

.sidebar {
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: auto;
  width: 300px;
}

.sidebar-video {
  border-bottom: 10px solid #000;
  cursor: pointer;
  display: block;
  height: 60px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease;
}

.sidebar-video.entering {
  opacity: 1;
}

.sidebar-video-thumbnail {
  float: left;
}

.sidebar-video-title {
  color: #fff;
  font: 400 14px/60px 'Helvetica Neue', Helvetica, sans-serif;
  text-indent: 10px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}
